### Extracting table from Wikipedia using pandas' io.html

In [60]:
from pandas.io.html import read_html
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitable = read_html(page, attrs={"class":"wikitable sortable"})
print("Extracted {num} wikitables".format(num=len(wikitable)))

Extracted 1 wikitables

In [61]:
df=wikitable[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### Now let's remove the rows where Borough 'Not assigned' and reset the index

In [62]:
df.rename(columns={'Postal Code':'postal_code'}, inplace=True)
df = df.drop(df[df['Borough'] == 'Not assigned'].index).reset_index(drop=True)
df

,postal_code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [4]:
df.shape

(103, 3)

### Let's create the list of post codes

In [63]:
post_codes = df['postal_code'].to_list()
post_codes

['M3A',
 'M4A',
 'M5A',
 'M6A',
 'M7A',
 'M9A',
 'M1B',
 'M3B',
 'M4B',
 'M5B',
 'M6B',
 'M9B',
 'M1C',
 'M3C',
 'M4C',
 'M5C',
 'M6C',
 'M9C',
 'M1E',
 'M4E',
 'M5E',
 'M6E',
 'M1G',
 'M4G',
 'M5G',
 'M6G',
 'M1H',
 'M2H',
 'M3H',
 'M4H',
 'M5H',
 'M6H',
 'M1J',
 'M2J',
 'M3J',
 'M4J',
 'M5J',
 'M6J',
 'M1K',
 'M2K',
 'M3K',
 'M4K',
 'M5K',
 'M6K',
 'M1L',
 'M2L',
 'M3L',
 'M4L',
 'M5L',
 'M6L',
 'M9L',
 'M1M',
 'M2M',
 'M3M',
 'M4M',
 'M5M',
 'M6M',
 'M9M',
 'M1N',
 'M2N',
 'M3N',
 'M4N',
 'M5N',
 'M6N',
 'M9N',
 'M1P',
 'M2P',
 'M4P',
 'M5P',
 'M6P',
 'M9P',
 'M1R',
 'M2R',
 'M4R',
 'M5R',
 'M6R',
 'M7R',
 'M9R',
 'M1S',
 'M4S',
 'M5S',
 'M6S',
 'M1T',
 'M4T',
 'M5T',
 'M1V',
 'M4V',
 'M5V',
 'M8V',
 'M9V',
 'M1W',
 'M4W',
 'M5W',
 'M8W',
 'M9W',
 'M1X',
 'M4X',
 'M5X',
 'M8X',
 'M4Y',
 'M7Y',
 'M8Y',
 'M8Z']

#### We need to install geocoder to get the latitude and logitude

In [5]:
pip install geocoder

Requirement already satisfied: geocoder in d:\anaconda\lib\site-packages (1.38.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: ratelim in d:\anaconda\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in d:\anaconda\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ratelim->geocoder) (4.4.2)

Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests->geocoder) (2.10)

### Now we can obtain the latitude and longitude from our list of post codes

In [64]:
import pgeocode
nomi = pgeocode.Nominatim('CA')
df_codes = nomi.query_postal_code(post_codes)
df_codes

,postal_code,country code,place_name,state_name,state_code,county_name,county_code,community_name,community_code,latitude,longitude,accuracy
0,M3A,CA,North York (York Heights / Victoria Village / ...,Ontario,ON,North York,NaN,NaN,NaN,43.7545,-79.3300,1.0
1,M4A,CA,North York (Sweeney Park / Wigmore Park),Ontario,ON,NaN,NaN,NaN,NaN,43.7276,-79.3148,6.0
2,M5A,CA,Downtown Toronto (Regent Park / Port of Toronto),Ontario,ON,Toronto,8133394.0,NaN,NaN,43.6555,-79.3626,6.0
3,M6A,CA,North York (Lawrence Manor / Lawrence Heights),Ontario,ON,North York,NaN,NaN,NaN,43.7223,-79.4504,6.0
4,M7A,CA,Queen's Park Ontario Provincial Government,Ontario,ON,NaN,NaN,NaN,NaN,43.6641,-79.3889,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
98,M8X,CA,Etobicoke (The Kingsway / Montgomery Road / Ol...,Ontario,ON,Etobicoke,NaN,NaN,NaN,43.6518,-79.5076,6.0
99,M4Y,CA,Downtown Toronto (Church and Wellesley),Ontario,ON,Toronto,8133394.0,NaN,NaN,43.6656,-79.3830,6.0
100,M7Y,CA,East Toronto Business Reply Mail Processing Ce...,Ontario,ON,Toronto,8133394.0,NaN,NaN,43.7804,-79.2505,NaN
101,M8Y,CA,Etobicoke (Old Mill South / King's Mill Park /...,Ontario,ON,Etobicoke,NaN,NaN,NaN,43.6325,-79.4939,6.0
102,M8Z,CA,Etobicoke (Mimico NW / The Queensway West / So...,Ontario,ON,Etobicoke,NaN,NaN,NaN,43.6256,-79.5231,6.0

#### The next step is to merge our two dataframes

#### Before merging tables let's remove unnecessary columns from df_codes

In [65]:
df_codes=df_codes.iloc[:,[0, 9, 10]]
df_codes.head()

  postal_code  latitude  longitude
0         M3A   43.7545   -79.3300
1         M4A   43.7276   -79.3148
2         M5A   43.6555   -79.3626
3         M6A   43.7223   -79.4504
4         M7A   43.6641   -79.3889

In [66]:
df.columns

Index(['postal_code', 'Borough', 'Neighbourhood'], dtype='object')

In [67]:
df_codes.columns

Index(['postal_code', 'latitude', 'longitude'], dtype='object')

In [68]:
df_latlong = pd.merge(df, df_codes)
df_latlong.head()

,postal_code,Borough,Neighbourhood,latitude,longitude
0,M3A,North York,Parkwoods,43.7545,-79.3300
1,M4A,North York,Victoria Village,43.7276,-79.3148
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6555,-79.3626
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7223,-79.4504
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6641,-79.3889

In [69]:
df_latlong.shape

(103, 5)